name: CI
"on":
  push: null
  schedule:
  - cron: 01 13 * * SAT
jobs:
  buildx:
    runs-on: windows-2019
    steps:
    - name: Get size of windows image
      uses: Amadevus/pwsh-script@v2
      id: get-size-of-windows-image
      with:
        script: |
          docker images
    - run: echo "${{ steps.get-size-of-windows-image.outputs.result }}"
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      with:
        use: true
    - name: Get Docker version and info
      run: |
        docker info
        docker version
        $winver = Get-ItemProperty 'HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\'
        $versiontag = "$($winver.CurrentMajorVersionNumber).$($winver.CurrentMinorVersionNumber).$($winver.CurrentBuildNumber).$($winver.UBR)"
        $versiontag
    - name: Get short SHA
      run: echo "SHORT_SHA=$("${{ github.sha }}".SubString(0, 8))" >>$env:GITHUB_ENV
    - name: Print short SHA
      run: echo "Short SHA is ${{ env.SHORT_SHA }}"
    - name: Build
      run: |
        docker build . -f Dockerfile -t docker.io/${{ secrets.DOCKER_USERNAME }}/paperdraw
        docker build . -f Dockerfile -t docker.io/${{ secrets.DOCKER_USERNAME }}/paperdraw:${{ env.SHORT_SHA }}
        docker build . -f Dockerfile -t docker.io/${{ secrets.DOCKER_USERNAME }}/paperdraw:github
    - name: Test path to heat.
      run: |
        docker run docker.io/${{ secrets.DOCKER_USERNAME }}/paperdraw:github heat -help
    - name: Login to dockerhub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Push
      run: |
        docker image push docker.io/${{ secrets.DOCKER_USERNAME }}/paperdraw
        docker image push docker.io/${{ secrets.DOCKER_USERNAME }}/paperdraw:${{ env.SHORT_SHA }}
        docker image push docker.io/${{ secrets.DOCKER_USERNAME }}/paperdraw:github
